<div class="order__box" id="simplecheckout_customer" {{ hide ? 'data-hide="true"' : '' }} {{ display_error and has_error ? 'data-error="true"' : '' }}>

{% if display_header %}
	<div class="order__title">
		<div class="order__title-circle">
			<svg class="order__title-icon">
				<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#order-info"></use>
			</svg>
		</div>
		{{ text_checkout_customer }}
	</div>
  {% endif %}
	<div class="order__box-container">
  {% for row in rows %}
      {{ row }}
    {% endfor %}
	</div>
</div>
