{{header}}
<main class="page page_home">

	<section class="main">
		<div class="main__container">
			<h2 style="display: none;">Органічна продукція: натуральне мило, тверді шампуні, бальзами</h2>
			<div class="main__content content-main bg_blue">
				<div class="content-main__title">
					<p>Pinka - якісна, органічна продукція!
																																																																																																																																										          У нас Ви зможете придбати
																																																																																																																																										          натуральні
						<span class="write"></span>
					</p>
				</div>
				<p class="content-main__text">Ми займаємося миловарінням понад 10 років. Маємо для Вас багато відгуків та цікавих
																																																																																																																									        пропозицій!</p>
				<a href="#" class="content-main__btn btn">
					Детальніше
					<svg class="btn-arrow__icon">
						<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
					</svg>
				</a>
			</div>
			<div class="main__slider slider-main bg_beige">
				<div class="swiper slider-main__swiper">
					<div class="swiper-wrapper slider-main__wrapper">
						<div class="swiper-slide slider-main__slide">
							<div class="slider-main__title">Органічний пральний порошок</div>
							<div class="slider-main__promo">5кг за ціною 4кг</div>
							<a href="#" class="btn">Детальніше
								<svg class="btn-arrow__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
								</svg>
							</a>
							<picture><source srcset="catalog/view/theme/pinka/assets/img/section-main/banner1.webp" type="image/webp"><img class="slider-main__image" src="img/section-main/banner1.png" alt="Органічний пральний порошок"></picture>
						</div>
						<div class="swiper-slide slider-main__slide">
							<div class="slider-main__title">Органічний пральний порошок</div>
							<div class="slider-main__promo">5кг за ціною 4кг</div>
							<a href="#" class="btn">Детальніше
								<svg class="btn-arrow__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
								</svg>
							</a>
							<picture><source srcset="catalog/view/theme/pinka/assets/img/section-main/banner1.webp" type="image/webp"><img class="slider-main__image" src="img/section-main/banner1.png" alt="Органічний пральний порошок"></picture>
						</div>
					</div>

				</div>
				<div class="slider-arrows__inner">
					<div class="slider-arrow slider-arrow__rigt">
						<svg class="slider-arrow__icon">
							<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
						</svg>
					</div>
					<div class="slider-arrow slider-arrow__left">
						<svg class="slider-arrow__icon">
							<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="set-goods">
		<div class="set-goods__container">
			<h2 style="display: none;" class="set-goods__title">Підберемо натуральне мило, шампунь та бальзам для вашого типу
																																																																																																								      волосся та шкіри</h2>
			<div class="swiper set-goods__slider">
				<div class="swiper-wrapper set-goods__wrapper">

					<div class="swiper-slide set-goods__item item-set-goods bg_green">
						<div class="item-set-goods__title">Підберемо натуральне мило для Вашого типу шкіри</div>
						<picture><source srcset="catalog/view/theme/pinka/assets/img/section-set-goods/soap.webp" type="image/webp"><img src="catalog/view/theme/pinka/assets/img/section-set-goods/soap.png" alt="Підберемо натуральне мило" class="item-set-goods__image"></picture>
						<a href="#" class="item-set-goods__btn btn btn-small">
							Детальніше
							<svg class="btn-arrow__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
							</svg>
						</a>

					</div>

					<div class="swiper-slide set-goods__item item-set-goods bg_pink">
						<div class="item-set-goods__title">Підберемо натуральні тверді шампуні для Вашого типу волосся</div>
						<picture><source srcset="catalog/view/theme/pinka/assets/img/section-set-goods/shampoo.webp" type="image/webp"><img src="catalog/view/theme/pinka/assets/img/section-set-goods/shampoo.png" alt="Підберемо натуральне мило" class="item-set-goods__image"></picture>
						<a href="#" class="item-set-goods__btn btn btn-small">
							Детальніше
							<svg class="btn-arrow__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
							</svg>
						</a>

					</div>

					<div class="swiper-slide set-goods__item item-set-goods bg_lBlue">
						<div class="item-set-goods__title">Підберемо збалансований та комлексний набір для щоденного використання
						</div>
						<picture><source srcset="catalog/view/theme/pinka/assets/img/section-set-goods/shampoo.webp" type="image/webp"><img src="catalog/view/theme/pinka/assets/img/section-set-goods/shampoo.png" alt="Підберемо натуральне мило" class="item-set-goods__image"></picture>
						<a href="#" class="item-set-goods__btn btn btn-small">
							Детальніше
							<svg class="btn-arrow__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
							</svg>
						</a>

					</div>
				</div>

			</div>

		</div>
	</section>
	{{content_top}}
	<article class="module">
		<div class="module__container">
			<div class="module__hedaer">
				<h2 class="section-title">Гарні пропозиції</h2>
			</div>
			<div class="swiper module__inner suggetion-slider">
				<div class="swiper-wrapper module__wrapper">
					<article class="product-card swiper-slide module__card">
						<a href="#" class="product-card__image">
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image1.webp" type="image/webp"><img class="product-card__image-main" src="img/products/image1.jpg" alt="Мило з ромашкою"></picture>
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image3.webp" type="image/webp"><img class="product-card__image-additional" src="img/products/image3.jpg" alt="Мило з ромашкою"></picture>
						</a>
						<div class="product-card__content">
							<form>
								<div class="product-card__weight product-weight">
									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input">
										<div class="product-weight__value">100 гр.</div>
									</label>

									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input" checked>
										<div class="product-weight__value">200 гр.</div>
									</label>
								</div>
							</form>
							<h3 class="product-card__title">
								<a href="#">Натуральне мило з ромашкою</a>
							</h3>
							<div class="product-card__rating rating-card">
								<svg class="rating-card__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
								</svg>
								5.0
								<a href="#">(40 відгуків)</a>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="product-card__price">45 грн</div>
							<div class="product-card__buttons">
								<button class="product-card__button button-card__favorite">
									<svg class="favorite__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#favorite"></use>
									</svg>
								</button>
								<button class="product-card__button button-card__cart">
									<svg class="cart__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#cart"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
					<article class="product-card swiper-slide module__card">
						<a href="#" class="product-card__image">
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image4.webp" type="image/webp"><img class="product-card__image-main" src="img/products/image4.jpg" alt="Мило з ромашкою"></picture>
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image1.webp" type="image/webp"><img class="product-card__image-additional" src="img/products/image1.jpg" alt="Мило з ромашкою"></picture>
						</a>
						<div class="product-card__content">
							<form>
								<div class="product-card__weight product-weight">
									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input">
										<div class="product-weight__value">100 гр.</div>
									</label>

									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input" checked>
										<div class="product-weight__value">200 гр.</div>
									</label>
								</div>
							</form>
							<h3 class="product-card__title">
								<a href="#">Шампунь з глинами (червона, рожева, жовта)</a>
							</h3>
							<div class="product-card__rating rating-card">
								<svg class="rating-card__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
								</svg>
								5.0
								<a href="#">(40 відгуків)</a>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="product-card__price">45 грн</div>
							<div class="product-card__buttons">
								<button class="product-card__button button-card__favorite">
									<svg class="favorite__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#favorite"></use>
									</svg>
								</button>
								<button class="product-card__button button-card__cart">
									<svg class="cart__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#cart"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
					<article class="product-card swiper-slide module__card">
						<a href="#" class="product-card__image">
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image3.webp" type="image/webp"><img class="product-card__image-main" src="img/products/image3.jpg" alt="Мило з ромашкою"></picture>
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image5.webp" type="image/webp"><img class="product-card__image-additional" src="img/products/image5.jpg" alt="Мило з ромашкою"></picture>
						</a>
						<div class="product-card__content">
							<form>
								<div class="product-card__weight product-weight">
									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input">
										<div class="product-weight__value">100 гр.</div>
									</label>

									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input" checked>
										<div class="product-weight__value">200 гр.</div>
									</label>
								</div>
							</form>
							<h3 class="product-card__title">
								<a href="#">Дегтярний шампунь</a>
							</h3>
							<div class="product-card__rating rating-card">
								<svg class="rating-card__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
								</svg>
								5.0
								<a href="#">(40 відгуків)</a>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="product-card__price">45 грн</div>
							<div class="product-card__buttons">
								<button class="product-card__button button-card__favorite">
									<svg class="favorite__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#favorite"></use>
									</svg>
								</button>
								<button class="product-card__button button-card__cart">
									<svg class="cart__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#cart"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
					<article class="product-card swiper-slide module__card">
						<a href="#" class="product-card__image">
							<picture><source srcset="catalog/view/theme/pinka/assets/img//products/image4.webp" type="image/webp"><img class="product-card__image-main" src="img//products/image4.jpg" alt="Мило з ромашкою"></picture>
							<picture><source srcset="catalog/view/theme/pinka/assets/img/products/image6.webp" type="image/webp"><img class="product-card__image-additional" src="img/products/image6.jpg" alt="Мило з ромашкою"></picture>
						</a>
						<div class="product-card__content">
							<form>
								<div class="product-card__weight product-weight">
									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input">
										<div class="product-weight__value">100 гр.</div>
									</label>

									<label class="product-weight__label">
										<input type="radio" name="product-weight" class="product-weight__input" checked>
										<div class="product-weight__value">200 гр.</div>
									</label>
								</div>
							</form>
							<h3 class="product-card__title">
								<a href="#">Твердий бальзам-кондиціонер для волосся</a>
							</h3>
							<div class="product-card__rating rating-card">
								<svg class="rating-card__icon">
									<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
								</svg>
								5.0
								<a href="#">(40 відгуків)</a>
							</div>
						</div>
						<div class="product-card__footer">
							<div class="product-card__price">45 грн</div>
							<div class="product-card__buttons">
								<button class="product-card__button button-card__favorite">
									<svg class="favorite__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#favorite"></use>
									</svg>
								</button>
								<button class="product-card__button button-card__cart">
									<svg class="cart__icon">
										<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#cart"></use>
									</svg>
								</button>
							</div>
						</div>
					</article>
				</div>
			</div>
		</div>
	</article>
	<article class="review-module">
		<div class="review-module__container">
			<div class="review-module__content">
				<h2 class="section-title">Останнні відгуки</h2>
				<div class="review-module__info">
					<a href="#" class="logo review-module__logo">
						<picture><source srcset="catalog/view/theme/pinka/assets/img/logo.webp" type="image/webp"><img src="catalog/view/theme/pinka/assets/img/logo.png" alt=""></picture>
					</a>
					<div class="review-module__rating rating-review-module">
						<div class="rating">
							<span class="rating-score">5.0</span>
							<svg class="rating__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
							</svg>
							<svg class="rating__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
							</svg>
							<svg class="rating__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
							</svg>
							<svg class="rating__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
							</svg>
							<svg class="rating__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
							</svg>
						</div>
						<div class="rating-review-module__quantity">Базовано на відгуках: 269</div>
					</div>
				</div>
				<div class="review-module__buttons">
					<a href="#" class="review-module__button btn">
						<svg class="btn__icon">
							<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#write"></use>
						</svg>
						Написати відгук
					</a>
					<a href="#" class="review-module__button btn btn-transparent">
						<svg class="btn__icon">
							<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#chat"></use>
						</svg>
						Всі відгуки
					</a>
				</div>
			</div>
			<div class="review-module__slider-inner">

				<div class="swiper review-module__slider">
					<div class="swiper-wrapper review-module__wrapper">
						<article class="swiper-slide review-module__item item-review-module">
							<footer class="item-review-module__footer">
								<div class="item-review-module__user user-review-item">
									<div class="user-review-item__image">
										<svg class="user-review-item__icon">
											<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#review-user"></use>
										</svg>
									</div>
									<div class="user-review-item__info">
										<div class="user-review-item__name">Інна Левицька</div>
										<div class="user-review-item__rating rating">
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
										</div>
									</div>
								</div>
								<date class="item-review-module__date">25.01.2022</date>
							</footer>
							<p class="item-review-module__content">
								Дуже задоволена вашою продукцією! Дякую! Від шампунів я просто в захваті! Також спробували вже й мило -
																																																																																																																																																																												              теж
																																																																																																																																																																												              класне. Дезодорант сподобався, гарний запах , тільки в нанесенні трохи незручно. В загальному можу
																																																																																																																																																																												              сказати,
																																																																																																																																																																												              що
																																																																																																																																																																												              ваша продукція -знахідка. Дякую за вашу працю , бажаю успіхів та процвітання!
							</p>
							<h4 class="item-review-module__title">
								<a href="#">Шапмунь з білою глиною</a>
							</h4>
						</article>

						<article class=" swiper-slide review-module__item item-review-module">
							<footer class="item-review-module__footer">
								<div class="item-review-module__user user-review-item">
									<div class="user-review-item__image">
										<svg class="user-review-item__icon">
											<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#review-user"></use>
										</svg>
									</div>
									<div class="user-review-item__info">
										<div class="user-review-item__name">Інна Левицька</div>
										<div class="user-review-item__rating rating">
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
										</div>
									</div>
								</div>
								<date class="item-review-module__date">25.01.2022</date>
							</footer>
							<p class="item-review-module__content">
								Дуже задоволена вашою продукцією! Дякую! Від шампунів я просто в захваті! Також спробували вже й мило -
																																																																																																																																																																												              теж
																																																																																																																																																																												              класне. Дезодорант сподобався, гарний запах , тільки в нанесенні трохи незручно. В загальному можу
																																																																																																																																																																												              сказати,
																																																																																																																																																																												              що
																																																																																																																																																																												              ваша продукція -знахідка. Дякую за вашу працю , бажаю успіхів та процвітання!
							</p>
							<h4 class="item-review-module__title">
								<a href="#">Шапмунь з білою глиною</a>
							</h4>
						</article>

						<article class=" swiper-slide review-module__item item-review-module">
							<footer class="item-review-module__footer">
								<div class="item-review-module__user user-review-item">
									<div class="user-review-item__image">
										<svg class="user-review-item__icon">
											<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#review-user"></use>
										</svg>
									</div>
									<div class="user-review-item__info">
										<div class="user-review-item__name">Інна Левицька</div>
										<div class="user-review-item__rating rating">
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
										</div>
									</div>
								</div>
								<date class="item-review-module__date">25.01.2022</date>
							</footer>
							<p class="item-review-module__content">
								Дуже задоволена вашою продукцією! Дякую! Від шампунів я просто в захваті! Також спробували вже й мило -
																																																																																																																																																																												              теж
																																																																																																																																																																												              класне. Дезодорант сподобався, гарний запах , тільки в нанесенні трохи незручно. В загальному можу
																																																																																																																																																																												              сказати,
																																																																																																																																																																												              що
																																																																																																																																																																												              ваша продукція -знахідка. Дякую за вашу працю , бажаю успіхів та процвітання!
							</p>
							<h4 class="item-review-module__title">
								<a href="#">Шапмунь з білою глиною</a>
							</h4>
						</article>

						<article class=" swiper-slide review-module__item item-review-module">
							<footer class="item-review-module__footer">
								<div class="item-review-module__user user-review-item">
									<div class="user-review-item__image">
										<svg class="user-review-item__icon">
											<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#review-user"></use>
										</svg>
									</div>
									<div class="user-review-item__info">
										<div class="user-review-item__name">Інна Левицька</div>
										<div class="user-review-item__rating rating">
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
											<svg class="rating__icon">
												<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#rating"></use>
											</svg>
										</div>
									</div>
								</div>
								<date class="item-review-module__date">25.01.2022</date>
							</footer>
							<p class="item-review-module__content">
								Дуже задоволена вашою продукцією! Дякую! Від шампунів я просто в захваті! Також спробували вже й мило -
																																																																																																																																																																												              теж
																																																																																																																																																																												              класне. Дезодорант сподобався, гарний запах , тільки в нанесенні трохи незручно. В загальному можу
																																																																																																																																																																												              сказати,
																																																																																																																																																																												              що
																																																																																																																																																																												              ваша продукція -знахідка. Дякую за вашу працю , бажаю успіхів та процвітання!
							</p>
							<h4 class="item-review-module__title">
								<a href="#">Шапмунь з білою глиною</a>
							</h4>
						</article>


					</div>
				</div>
				<div class="slider-arrows__inner review-module__arrow">
					<div class="slider-arrow slider-arrow__rigt">
						<svg class="slider-arrow__icon">
							<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
						</svg>
					</div>
					<div class="slider-arrow slider-arrow__left">
						<svg class="slider-arrow__icon">
							<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow"></use>
						</svg>
					</div>
				</div>
			</div>
		</div>

	</article>
	<article class="module-blog">
		<div class="module-blog__container">
			<div class="module-blog__hedaer">
				<h2 class="section-title">Свіжі статті та останні новини</h2>
			</div>
			<div class="swiper module-blog__items">
				<div class="swiper-wrapper module-blog__wrapper">
					<article class="swiper-slide module-blog__item item-module-blog">
						<picture><source srcset="catalog/view/theme/pinka/assets/img/blog/blog-image.webp" type="image/webp"><img class="item-module-blog__image" src="img/blog/blog-image.jpg" alt="blog-image"></picture>
						<h3 class="item-module-blog__title">
							<a href="#">Моє бачення та досвід у миловаріння</a>
						</h3>
						<p class="item-module-blog__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id deleniti
																																																																																																																																																											            consequatur omnis vero accusamus vel vitae laborum quaerat quos maxime.</p>
						<a href="#" class="item-module-blog__link arrow-link">
							Детальніше
							<svg class="arrow-link__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow-link"></use>
							</svg>
						</a>
					</article>

					<article class="swiper-slide module-blog__item item-module-blog">
						<picture><source srcset="catalog/view/theme/pinka/assets/img/blog/blog-image.webp" type="image/webp"><img class="item-module-blog__image" src="img/blog/blog-image.jpg" alt="blog-image"></picture>
						<h3 class="item-module-blog__title">
							<a href="#">Моє бачення та досвід у миловаріння</a>
						</h3>
						<p class="item-module-blog__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id deleniti
																																																																																																																																																											            consequatur omnis vero accusamus vel vitae laborum quaerat quos maxime.</p>
						<a href="#" class="item-module-blog__link arrow-link">
							Детальніше
							<svg class="arrow-link__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow-link"></use>
							</svg>
						</a>
					</article>

					<article class="swiper-slide module-blog__item item-module-blog">
						<picture><source srcset="catalog/view/theme/pinka/assets/img/blog/blog-image.webp" type="image/webp"><img class="item-module-blog__image" src="img/blog/blog-image.jpg" alt="blog-image"></picture>
						<h3 class="item-module-blog__title">
							<a href="#">Моє бачення та досвід у миловаріння</a>
						</h3>
						<p class="item-module-blog__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id deleniti
																																																																																																																																																											            consequatur omnis vero accusamus vel vitae laborum quaerat quos maxime.</p>
						<a href="#" class="item-module-blog__link arrow-link">
							Детальніше
							<svg class="arrow-link__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow-link"></use>
							</svg>
						</a>
					</article>

					<article class="swiper-slide module-blog__item item-module-blog">
						<picture><source srcset="catalog/view/theme/pinka/assets/img/blog/blog-image.webp" type="image/webp"><img class="item-module-blog__image" src="img/blog/blog-image.jpg" alt="blog-image"></picture>
						<h3 class="item-module-blog__title">
							<a href="#">Моє бачення та досвід у миловаріння</a>
						</h3>
						<p class="item-module-blog__description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id deleniti
																																																																																																																																																											            consequatur omnis vero accusamus vel vitae laborum quaerat quos maxime.</p>
						<a href="#" class="item-module-blog__link arrow-link">
							Детальніше
							<svg class="arrow-link__icon">
								<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#arrow-link"></use>
							</svg>
						</a>
					</article>
				</div>
			</div>
		</div>
	</article>
	{{content_bottom}}
</main>
{{footer}}
