<div class="body-header__search" id="search">
	<form action="" class="search">
		<input type="text" autocomplete="off" class="search__input" name="search" value="{{ search }}" placeholder="{{ text_search }}">
		<button type="button" class="search__button">
			<svg class="search__icon">
				<use xlink:href="catalog/view/theme/pinka/assets/img/icons/icons.svg#search"></use>
			</svg>
		</button>
	</form>
</div>
